.about-us {

    &__paragraph{
        color:$text;
        font-family: "Poppins";
        font-size: 20px;
        margin-top: 60px;
        text-decoration: underline;

        @include medium-up{
        margin-top: 130px;

        }

    }
    &__heading{
        font-family: 'Oswald';
        font-size: 48px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__text {
        font-size: 16px;
        font-weight: 100;
        color:$black;
        line-height: 24px;
        font-family: 'Poppins', sans-serif;
    }
    &__left{
        animation: fromLeft 3s ease;
    }
    &__right{
        animation: fromRight 3s ease;
    }

    @keyframes fromLeft {
        0%{
            transform: translateX(-100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;

        }
    }
    @keyframes fromRight {
        0%{
            transform: translateX(100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;

        }
    }

}
// Progress bar from bootstrap
.progress {
    height: 22px!important;
}