.portfolio {
    border-bottom: 1px solid $primary;
    padding-bottom: 30px;

    &__btn {
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        transition: all .4s;

        &:hover{
            opacity: .7;
        }

    }

    &__show {
        display: block;
    }
    &__active-item {
        background: $primary;
        color:$white;
    }
}

