.services {
    &__heading{
        font-family: 'Poppins';
        font-size: 36px;
        text-align: center;
        font-weight: bold;
    }
    &__box{
        padding: 20px 80px!important;
    }
    &__bg-icon {
        width: 150px;
        height: 120px;
        background: $bg-nav-color;
        position: relative;
        transition: .5s ease-in-out;


        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px $black;
        }

    }
    &__icon{
        position: absolute;
        color: $white;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    &__text {
        font-family: 'Poppins';
        color:$black;
    }
}