.services {
    &__heading{
        font-family: 'Poppins';
        font-size: 36px;
        text-align: center;
        font-weight: bold;
    }
    &__box{
        padding: 20px 80px!important;
    }
    &__bg-icon {
        width: 150px;
        height: 120px;
        background: $bg-nav-color;
        position: relative;
        transition: .5s ease-in-out;

        &:hover {
            transform: scale(1.1);

        }

    }
    &__icon{
        position: absolute;
        color: $white;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    &__text {
        font-family: 'Poppins';
        color:$black;

    }
    &__text &__show &__more{
        display: inline;
    }

    &__more{
        display: none;
    }


}
.showmore {
    font-size: 1.1em;
    margin-top: 1.5em;
  }

  .showmore .more {
    display: none;
  }

  .showmore.show .more {
    display: inline;
  }
  .showmore.show .dots{
      display: none;
  }

  .showmore a {
    cursor: pointer;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-weight: bold;
  }
  .showmore .btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color:$primary!important;
    text-align: center;
    padding-top: 10px;
    transition: .6s;

    &:hover {
        opacity: .6;
    }
  }


