@import '_fonts.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_default.scss';
@import '_slider.scss';
@import '_header.scss';
@import '_preloader.scss';
@import '_about-us.scss';
@import '_services.scss';
@import '_team.scss';
@import '_pricing.scss';
@import '_discount.scss';
@import '_counter.scss';
@import '_footer.scss';